<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/output.css">
  </head>
  <body>
    <header class="bg-gray-300">
      CS-546 Final Project Header
    </header>
    <main class="flex flex-col min-h-[calc(100vh-48px)]">
      <div class="flex flex-1 flex-col h-full">
        {{{body}}}  
      </div>
    </main>
    <footer class="bg-gray-300">
      CS-546 Final Project Footer
    </footer>
  </body>
</html>