<section class="flex flex-1 justify-center items-center flex-col gap-3">
  <h1 class="text-4xl font-bold"><span class="text-red-500">403</span>
    Error</h1>
  <p class="text-xl">You do not have access to this resource</p>
  <a href="/" class="home-button">Return to Home</a>
</section>