<section class="max-w-7xl flex flex-col items-center grow">
  <h1 class="font-bold text-3xl">Favorites</h1>
  {{#if favoriteUsers.length}}
    <ul class="space-y-4 mt-4 w-full max-w-md">
      {{#each favoriteUsers}}
        <li
          class="shadow-md px-4 py-2 rounded-md hover:scale-105 transition-all bg-gray-300"
        >
          <a href="/users/profile/{{username}}" class="flex gap-2 items-center">
            <div class="avatar">
              <div class="w-10 rounded-full">
                <img
                  src="{{profilePicture}}"
                  alt="{{username}} profile picture"
                />
              </div>
            </div>
            <p class="tracking-wide">{{username}}</p>
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</section>