<form
  id="signupForm"
  method="post"
  class="bg-slate-300 w-1/2 px-6 py-4 mx-auto my-auto rounded-md shadow-lg gap-4 flex flex-col items-start"
>
  <h1 class="font-bold text-3xl">Signup Form:</h1>
  <div class="flex flex-col w-full gap-2">
    <label for="username" class="font-bold text-xl mb-2">Username:</label>
    <input
      type="text"
      placeholder="Enter username"
      id="username"
      name="username"
      class="rounded-lg px-3 py-2 w-full border-[1px] border-black inputField"
    />
    <label for="password" class="font-bold text-xl">Password:</label>
    <input
      type="password"
      placeholder="Enter password"
      id="password"
      name="password"
      class="rounded-lg px-3 py-2 w-full border-[1px] border-black inputField"
    />
    <label for="confirmPassword" class="font-bold text-xl">Confirm Password:</label>
    <input
      type="text"
      placeholder="Confirm password"
      id="confirmPassword"
      name="confirmPassword"
      class="rounded-lg px-3 py-2 w-full border-[1px] border-black inputField"
    />
    <div class="grid w-full grid-cols-2 gap-2">
      <div class="flex flex-col">
        <label for="firstName" class="font-bold text-lg">First Name:</label>
        <input
          type="text"
          id="firstName"
          placeholder="Enter first name"
          class="rounded-lg px-3 py-2 w-full border-[1px] border-black inputField"
        />
      </div>
      <div class="flex flex-col">
        <label for="lastName" class="font-bold text-lg">Last Name:</label>
        <input
          type="text"
          id="lastName"
          placeholder="Enter last name"
          class="rounded-lg px-3 py-2 w-full border-[1px] border-black inputField"
        />
      </div>
    </div>
    <label for="email" class="font-bold text-lg">Email:</label>
    <input
      type="text"
      id="email"
      placeholder="Enter email"
      class="rounded-lg px-3 py-2 w-full border-[1px] border-black inputField"
    />
  </div>
  <p class="italic">* Once signing up, you will have to login after being
    redirected</p>
  <button
    type="submit"
    class="bg-green-600 font-bold text-white hover:bg-green-500 py-2 px-4 rounded-lg transition-all"
  >Submit</button>
  <ul
    class="hidden bg-red-200 text-red-500 font-bold px-4 py-2 rounded-xl border-2 border-red-500"
    id="inputErrors"
  >

  </ul>
</form>